html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #cccccc;
}

.top {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 80px;
    min-width: 1000px;
    background-color: #404040;
}

.top .g4-logo {
    margin: 0 auto;
    padding: 0;
    width: 300px;
    height: 80px;
    outline: none;
    z-index: 10;
}

.top .g4-logo a {
    text-decoration: none;
}

.top .g4-logo .logo-1 {
    margin: 0 auto;
    padding: 5px;
    width: auto;
    height: 70px;
    display: flex;
    position: relative;
    top: 50%;
}

.nav {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    width: 100%;
    height: 40px;
    min-width: 1000px;
    background-color: #808080;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
}

.nav .menu {
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    height: auto;
    outline: none;
    z-index: 4;
}

.nav .menu ul {
    list-style: none;
}

.nav .menu ul li {
    margin: 0;
    padding: 0;
    float: left;
    width: 130px;
    height: 40px;

}

.nav .menu ul li a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #fff;
    display: block;
    line-height: 2;
    vertical-align: middle;
    text-align: center;
    font-size: 15pt;
    font-family: 'Roboto Condensed', bold;
}

.nav .menu ul li a:hover {
    margin: 0;
    padding: 0;
    width: auto;
    height: 40px;
    background-color: #404040;
    color: #ff0000;
}

.nav .menu ul li ul .dropdown-menu-bra li {
    margin: 0;
    padding: 0;
    display: block;
    width: 1000px;
    height: auto;
    display: none;
    position: relative;
    top: 0;
    left: -130px;
}

.nav .menu ul li ul .dropdown-menu-ass li {
    margin: 0;
    padding: 0;
    display: block;
    width: 1000px;
    height: auto;
    display: none;
    position: relative;
    top: 0;
    left: -260px;
}

.nav .menu ul li:hover ul .dropdown-menu-bra li {
    display: block;
    background-color: rgba(64, 64, 64, .7);
}

.nav .menu ul li:hover ul .dropdown-menu-ass li {
    display: block;
    background-color: rgba(64, 64, 64, .7);
}

.nav .search-box {
    margin: 0;
    padding: 0;
    width: 440px;
    height: 40px;
    float: left;
}

.nav .sign-in {
    margin: 0;
    padding: 5px;
    width: 30px;
    height: 30px;
    float: left;
    background: #E0E0E0;
    background: -moz-linear-gradient(45deg, #E0E0E0 0%, #F7F7F7 50%, #DBDBDB 100%);
    background: -webkit-linear-gradient(45deg, #E0E0E0 0%, #F7F7F7 50%, #DBDBDB 100%);
    background: linear-gradient(45deg, #E0E0E0 0%, #F7F7F7 50%, #DBDBDB 100%);
}

.nav .sign-in #sing-btn {
    padding: 0;
    margin: 0;
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to bottom, #D40000 0%, #D90000 50%, #820000 100%);
    transition: .5s;
}

.nav .sign-in #sing-btn:hover {
    transform: scale(1.2);
    background: linear-gradient(to bottom, #333333 0%, #383838 50%, #333333 100%);

}

.nav .sign-in .close {
    font-size: 40px;
    width: 55px;
    height: 40px;
    position: absolute;
    right: 25px;
    top: 0;
    color: rgb(0.17, 0.17, 0.17);
    border-radius: 5px;
    transition: .2s;
}

.nav .sign-in .close:hover,
.nav .sign-in .close:focus {
    color: #fff;
    cursor: pointer;
    background-color: rgb(255, 0, 0, 0.8);
}

.nav .sign-in .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.nav .sign-in .modal .animate {
    animation: zoom 0.6s
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.nav .sign-in .modal-content {
    margin: 125px auto 30px;
    width: 900px;
    height: auto;
    padding-bottom: 35px;
    background: linear-gradient(to bottom, #E0E0E0 0%, #F7F7F7 50%, #DBDBDB 100%);
    border: 2px solid #008ae6;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 2px rgba(0, 0, 0, 0.55);
    z-index: 20;
}

.nav .sign-in .modal .imgcontainer {
    margin: 25px 0 25px 0;
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 25pt;
    color: #000;
    position: relative;
    top: 0;
    left: 0;
}

.nav .sign-in .modal .imgcontainer #s-logo {
    margin: 0 0 15px 0;
    box-shadow: 0px 3px 15px 2px rgba(0, 0, 0, 0.55);
    border-radius: 50%;
}

.nav .sign-in .modal .container {
    margin: 0 auto;
    padding: 0;
    width: 785px;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
}

.nav .sign-in .modal .container .icon-login {
    position: absolute;
    margin: 8px 0 0 15px;
    padding: 0;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}

.nav .sign-in .modal .container #s-mail {
    width: 380px;
    height: 40px;
    font-family: Roboto Condensed;
    font-size: 20px;
    color: #000;
    padding: 0px 5px 0 45px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    border: 1px solid #008ae6;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
}

.nav .sign-in .modal .container #s-pass {
    width: 380px;
    height: 40px;
    font-family: Roboto Condensed;
    font-size: 20px;
    color: #000;
    padding: 0px 5px 0 45px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    border: 1px solid #008ae6;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
}

.nav .sign-in .modal .container #check-box {
    position: relative;
    top: 15px;
    left: 200px;
    width: 55px;
    height: 25px;
    -webkit-appearance: none;
    background-color: #c6c6c6;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    transition: .5s;

}

.nav .sign-in .modal .container #check-box:checked {
    background-color: #03a9f4;
}

.nav .sign-in .modal .container #check-box:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: scale(1.05);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
}

.nav .sign-in .modal .container :checked#check-box:before {
    left: 30px;
}

.nav .sign-in .modal .container #check-box-p {
    font-family: Asap Condensed;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 15pt;
    color: #008ae6;
    line-height: 1.2;
    position: relative;
    top: 10px;
    left: 200px;
    cursor: pointer;

}

.nav .sign-in .modal .container #forget-pw-p {
    text-decoration: none;
    font-family: Asap Condensed;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 15pt;
    color: red;
    line-height: 1.2;
    position: relative;
    top: 10px;
    left: 250px;
}

.nav .sign-in .modal .container #loin-btn {
    width: 130px;
    height: 50px;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 20pt;
    background-color: #008ae6;
    border: 2px solid #008ae6;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    top: 20px;
    left: 320px;
    outline: none;
    z-index: 1;
    transition: .3s;
}

.nav .sign-in .modal .container #loin-btn:hover {
    -webkit-box-shadow: 0px 1px 5px 0px #000000;
    box-shadow: 0px 1px 5px 0px #000000;
    transform: scale(1.05);
}

.nav .sign-in .modal .container .border {
    margin: 0;
    padding: 0;
    width: 785px;
    height: 5px;
    background-color: #008ae6;
    color: black;
    border: 1px solid #008ae6;
    border-radius: 10px;
    position: relative;
    top: -8px;
}

.nav .sign-in .modal .container .create-acc {
    margin: 25px auto 0;
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 14pt;
    color: #000;
}

.nav .sign-in .modal .container .create-acc a {
    text-decoration: underline;
    color: #008ae6;
}

.nav .sign-in .modal .container .sing-with-socail {
    margin: 0 auto;
    width: 785px;
    position: relative;
    top: 15px;
    left: 0;

}

.nav .sign-in .modal .container .sing-with-socail p {
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 16pt;
    color: #008ae6;
}

.nav .sign-in .modal .container .sing-with-socail ul {
    margin: 0 auto;
    padding: 0 10px;
    width: 130px;
    height: 70px;
    list-style: none;

}

.nav .sign-in .modal .container .sing-with-socail ul li {
    float: left;
    margin: 0 2px;
}

.nav .sign-in .modal .container .sing-with-socail img {
    margin: 5px auto;
    padding: 0;
    height: 60px;
    transition: .3s;

}

.nav .sign-in .modal .container .sing-with-socail img:hover {
    transform: scale(1.1);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

.content {
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    height: auto;
    min-width: 1000px;
}

.promotion {
    margin: 0;
    padding: 0;
    width: 1000px;
    height: 400px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.promotion slider {
    display: block;
    width: 1000px;
    height: 400px;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
}

.promotion slider > * {
    position: absolute;
    display: block;
    width: 1000px;
    height: 400px;
    background-color: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
}

.promotion slider slide:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url(banner/banner-1.jpg);
    background-size: cover;
    background-position: center;
}

.promotion slider slide:nth-child(2) {
    animation-delay: 2s;
    background-image: url(banner/banner-2.jpg);
    background-size: cover;
    background-position: center;
}

.promotion slider slide:nth-child(3) {
    animation-delay: 5s;
    background-image: url(banner/banner-3.jpg);
    background-size: cover;
    background-position: center;
}

.promotion slider slide:nth-child(4) {
    left: 0%;
    animation-delay: 8s;
    background-image: url(banner/banner-4.jpg);
    background-size: cover;
    background-position: center;
}

.promotion slider slide p {
    font-family: Tomorrow;
    font-size: 10px;
    text-align: center;
    display: inline-block;
    width: 1000px;
    margin-top: 350px;
    color: #fff;
}

@keyframes slide {
    0% {
        left: 100%;
        width: 100%;
    }

    5% {
        left: 0%;
    }

    25% {
        left: 0%;
    }

    30% {
        left: -100%;
        width: 100%;
    }

    30.0001% {
        left: -100%;
        width: 0%;
    }

    100% {
        left: 100%;
        width: 0%;
    }
}

.special-offer {
    margin: 2px auto 0;
    padding: 0;
    width: 1000px;
    height: 365px;
    position: relative;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    z-index: 2;
}

.special-offer .title {
    margin: 0 auto;
    padding: 5px;
    width: 990px;
    height: 25px;
    background-color: #404040;
}

.special-offer .title .text {
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    height: 25px;
    outline: none;
    z-index: 1;
}

.special-offer .title .text a {
    text-decoration: none;
}

.special-offer .title .text .text-1 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', bold;
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}

.special-offer .title .box {
    position: absolute;
    top: -2px;
    left: 0;
    transform: translate(0px, 0px);
    width: 100%;
    height: 39px;
    box-sizing: border-box;
    overflow: hidden;
    color: white;
    padding: 0;
    z-index: -1;
}

.special-offer .title .box:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    pointer-events: none;
}

.special-offer .title .box:hover:before {
    left: -50%;
    transform: skewX(-5deg);
}

.special-offer .title .box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;

}

.special-offer .title .box span:nth-child(1) {
    transform: rotate(0deg);
}

.special-offer .title .box span:nth-child(2) {
    transform: rotate(180deg);
}


.special-offer .title .box span:before {
    content: '';
    position: absolute;
    width: 1000px;
    height: 3px;
    background: #ff0000;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }

    50% {
        transform: scaleX(1);
        transform-origin: left;
    }

    50.1% {
        transform: scaleX(1);
        transform-origin: right;
    }

    100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}

.special-offer .slider {
    margin: 0 auto;
    width: 990px;
    margin-top: 5px;

}

.special-offer .slick-slide {
    margin: 0px 3px;
    height: 300px;

    border-radius: 10px;
    background-color: rgba(0, 0, 0, .7);

}

.special-offer .slick-slide img {
    height: 230px;
    margin: 5px auto;
}

.special-offer .slick-prev:before,
.special-offer .slick-next:before {
    color: #fff;
}

.special-offer .slick-slide {
    transition: all ease-in-out .3s;
    opacity: 1;
}

.special-offer .slick-active {
    opacity: 1;
}

.special-offer .slick-current {
    opacity: 1;
}

.special-offer .gallery {
    margin: 0 auto;
    padding: 0;
    width: 235px;
    height: 295px;
}

.special-offer .gallery a {
    text-decoration: none;
    outline: none;
}

.special-offer .gallery a #model {
    margin: 0 auto;
    padding: 0;
    width: 235px;
    height: 55px;
    color: #fff;
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 15pt;
}

.special-offer .gallery a #dis-price {
    margin: 0;
    padding-left: 10px;
    width: 225px;
    height: 30px;
    color: #008ae6;
    text-align: left;
    font-family: Roboto Condensed;
    font-size: 20pt;
    position: absolute;
    top: 265px;
}

.special-offer .gallery a #price {
    margin: 0;
    padding-right: 10px;
    width: 225px;
    height: 20px;
    color: red;
    text-align: right;
    font-family: Roboto Condensed;
    font-size: 14pt;
    position: absolute;
    top: 275px;
}

.brand {
    margin: 0;
    padding: 0;
    width: 1000px;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
}

.brand .brand-title {
    margin: 0 auto;
    padding: 5px 0;
    width: 1000px;
    height: 40px;
    min-width: 1000px;
    background-color: #404040;
}

.brand .brand-title .logo {
    margin: 0 auto;
    padding: 0;
    width: 990px;
    height: 40px;
    outline: none;
    z-index: 10;
}

.brand .brand-title .logo a {
    text-decoration: none;
}

.brand .brand-title .logo .logo-1 {
    margin: 0 auto;
    padding: 0;
    width: auto;
    height: 40px;
    display: flex;
    position: relative;
}

.brand #box-max-photo {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 390px;
}

.brand #box-max-model {
    margin-top: 1px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 18pt;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7);
}

.brand #box-max-price {
    margin-top: 5px;
    padding: 0;
    width: 370px;
    position: absolute;
    top: 420px;
    color: #008ae6;
    text-align: center;
    font-family: Titillium Web;
    font-size: 25pt;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7);
}

.brand #box-wide-photo {
    margin: 0;
    padding: 5px 0;
    height: 225px;
    position: absolute;
    top: 0px;
    left: 5px;
}

.brand #box-wide-model {
    margin-top: 1px;
    padding: 2px;
    width: 200px;
    height: auto;
    color: #fff;
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 14pt;
    line-height: 20pt;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7);
    position: relative;
    top: 10px;
    left: 190px;
    background-color: rgba()
}

.brand #box-wide-price {
    margin: 0;
    padding: 2px;
    width: 200px;
    height: auto;
    position: relative;
    top: 210px;
    color: #008ae6;
    text-align: center;
    font-family: Titillium Web;
    font-size: 18pt;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7);
    position: relative;
    top: -10px;
    left: 190px;

}

.brand #box-small-photo {
    margin-top: 5px;
    height: 180px;
}

.brand #box-small-model {
    margin: 2 auto 0;
    padding: 0 2px;
    width: 195px;
    color: #fff;
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 11pt;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7);
    position: relative;
}

.brand #box-small-price {
    margin: -20px auto;
    padding: 0 2px;
    width: 195px;
    color: #008ae6;
    text-align: center;
    font-family: Titillium Web;
    font-size: 14pt;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7);
    position: relative;
}

.brand #see-more {
    margin: 0 auto;
    padding: 2px;
    width: 100px;
    height: 25px;
    position: absolute;
    top: 500px;
    left: 455px;
    text-decoration: none;
    color: #fff;
    font-size: 15pt;
    font-family: Asap Condensed;
    text-align: center;
    border: 1px solid #fff;
    background-color: #008ae6;
    border-radius: 5px;
    outline: none;
}

.brand #see-more:hover {
    border: 1px solid #008ae6;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .2);
}

.brand ul {
    list-style: none;
}



.brand .apple {
    width: 1000px;
    height: 545px;
    position: relative;
    top: 0;
    left: 0;
}

.brand .apple a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.brand .apple ul li a#ap-1 {
    width: 370px;
    height: 480px;
    position: absolute;
    top: 5px;
    left: 5px;
    text-decoration: none;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;

}

.brand .apple ul li a:hover#ap-1 {
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .apple ul li a#ap-2 {
    width: 400px;
    height: 235px;
    position: absolute;
    top: 5px;
    left: 385px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;

}

.brand .apple ul li a:hover#ap-2 {

    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .apple ul li a#ap-3 {
    width: 196px;
    height: 235px;
    position: absolute;
    top: 5px;
    left: 795px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;

}

.brand .apple ul li a:hover#ap-3 {
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .apple ul li a#ap-4 {
    width: 195px;
    height: 235px;
    position: absolute;
    top: 250px;
    left: 385px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;
}

.brand .apple ul li a:hover#ap-4 {
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .apple ul li a#ap-5 {
    width: 195px;
    height: 235px;
    position: absolute;
    top: 250px;
    left: 590px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;
}

.brand .apple ul li a:hover#ap-5 {
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .apple ul li a#ap-6 {
    width: 195px;
    height: 235px;
    position: absolute;
    top: 250px;
    left: 795px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;
}

.brand .apple ul li a:hover#ap-6 {
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}


.brand .samsung {
    width: 1000px;
    height: 545px;
    position: relative;
    top: 0;
    left: 0;
}

.brand .samsung a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.brand .samsung ul li a#ss-1 {
    width: 370px;
    height: 480px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-decoration: none;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;

}


.brand .samsung ul li a:hover#ss-1 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .samsung ul li a#ss-2 {
    width: 400px;
    height: 235px;
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;

}

.brand .samsung ul li a:hover#ss-2 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .samsung ul li a#ss-3 {
    width: 196px;
    height: 235px;
    position: absolute;
    top: 5px;
    left: 415px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;

}

.brand .samsung ul li a:hover#ss-3 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .samsung ul li a#ss-4 {
    width: 195px;
    height: 235px;
    position: absolute;
    top: 250px;
    left: 5px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;
}

.brand .samsung ul li a:hover#ss-4 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .samsung ul li a#ss-5 {
    width: 195px;
    height: 235px;
    position: absolute;
    top: 250px;
    left: 210px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;
}

.brand .samsung ul li a:hover#ss-5 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .samsung ul li a#ss-6 {
    width: 195px;
    height: 235px;
    position: absolute;
    top: 250px;
    left: 415px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;
}

.brand .samsung ul li a:hover#ss-6 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .oppo {
    width: 1000px;
    height: 545px;
    position: relative;
    top: 0;
    left: 0;
}

.brand .oppo a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.brand .oppo ul li a#iphone-11-pro-max {
    width: 370px;
    height: 480px;
    position: absolute;
    top: 5px;
    left: 5px;
    text-decoration: none;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;
}

.brand .oppo ul li a:hover#iphone-11-pro-max {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .oppo ul li a#iphone-11-pro {
    width: 400px;
    height: 235px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;

}

.brand .oppo ul li a:hover#iphone-11-pro {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .oppo ul li a#iphone-11 {
    width: 196px;
    height: 235px;
    position: absolute;
    top: 5px;
    left: 385px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;

}

.brand .oppo ul li a:hover#iphone-11 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .oppo ul li a#iphone-8 {
    width: 195px;
    height: 235px;
    position: absolute;
    top: 250px;
    left: 385px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;
}

.brand .oppo ul li a:hover#iphone-8 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .oppo ul li a#iphone-7-plus {
    width: 195px;
    height: 235px;
    position: absolute;
    top: 250px;
    left: 590px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;
}

.brand .oppo ul li a:hover#iphone-7-plus {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .oppo ul li a#iphone-8-plus {
    width: 195px;
    height: 235px;
    position: absolute;
    top: 250px;
    right: 5px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;
}

.brand .oppo ul li a:hover#iphone-8-plus {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .vivo {
    width: 1000px;
    height: 545px;
    position: relative;
    top: 0;
    left: 0;
}

.brand .vivo a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.brand .vivo ul li a#iphone-11-pro-max {
    width: 370px;
    height: 480px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-decoration: none;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;

}

.brand .vivo ul li a:hover#iphone-11-pro-max {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .vivo ul li a#iphone-11-pro {
    width: 400px;
    height: 235px;
    position: absolute;
    top: 5px;
    left: 210px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;

}

.brand .vivo ul li a:hover#iphone-11-pro {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .vivo ul li a#iphone-11 {
    width: 195px;
    height: 235px;
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;

}

.brand .vivo ul li a:hover#iphone-11 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .vivo ul li a#iphone-8 {
    width: 400px;
    height: 235px;
    position: absolute;
    top: 250px;
    left: 5px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;
}

.brand .vivo ul li a:hover#iphone-8 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .vivo ul li a#iphone-7-plus {
    width: 195px;
    height: 235px;
    position: absolute;
    top: 250px;
    left: 415px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;
}

.brand .vivo ul li a:hover#iphone-7-plus {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}


.brand .huawei {
    width: 998px;
    height: 545px;
    position: relative;
    top: 0;
    left: 0;
}

.brand .huawei a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.brand .huawei ul li a#iphone-11-pro-max {
    width: 370px;
    height: 480px;
    position: absolute;
    top: 5px;
    left: 5px;
    text-decoration: none;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;

}

.brand .huawei ul li a:hover#iphone-11-pro-max {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .huawei ul li a#iphone-11-pro {
    width: 400px;
    height: 235px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;

}

.brand .huawei ul li a:hover#iphone-11-pro {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .huawei ul li a#iphone-11 {
    width: 195px;
    height: 235px;
    position: absolute;
    top: 5px;
    left: 385px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;

}

.brand .huawei ul li a:hover#iphone-11 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .huawei ul li a#iphone-8 {
    width: 400px;
    height: 235px;
    position: absolute;
    top: 250px;
    left: 385px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;
}

.brand .huawei ul li a:hover#iphone-8 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .huawei ul li a#iphone-7-plus {
    width: 195px;
    height: 235px;
    position: absolute;
    top: 250px;
    right: 5px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;
}


.brand .huawei ul li a:hover#iphone-7-plus {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .xiaomi {
    width: 1000px;
    height: 545px;
    position: relative;
    top: 0;
    left: 0;
}

.brand .xiaomi a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.brand .xiaomi ul li a#xm-1 {
    width: 370px;
    height: 480px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-decoration: none;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;

}

.brand .xiaomi ul li a:hover#xm-1 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .xiaomi ul li a#xm-2 {
    width: 400px;
    height: 235px;
    position: absolute;
    top: 250px;
    left: 5px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;

}


.brand .xiaomi ul li a:hover#xm-2 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .xiaomi ul li a#xm-3 {
    width: 195px;
    height: 235px;
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;

}


.brand .xiaomi ul li a:hover#xm-3 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .xiaomi ul li a#xm-4 {
    width: 195px;
    height: 235px;
    position: absolute;
    top: 5px;
    left: 210px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;
}

.brand .xiaomi ul li a:hover#xm-4 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .xiaomi ul li a#xm-5 {
    width: 195px;
    height: 235px;
    position: absolute;
    top: 5px;
    left: 415px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;
}

.brand .xiaomi ul li a:hover#xm-5 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .xiaomi ul li a#xm-6 {
    width: 195px;
    height: 235px;
    position: absolute;
    top: 250px;
    left: 415px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;
}

.brand .xiaomi ul li a:hover#xm-6 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .accessories {
    width: 1000px;
    height: 545px;
    position: relative;
    top: 0;
    left: 0;
}

.brand-title .text a {
    text-decoration: none;
}

.brand-title .text .text-1 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', bold;
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.brand .accessories a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.brand .accessories ul li a#acsr-1 {
    width: 370px;
    height: 480px;
    position: absolute;
    top: 5px;
    left: 5px;
    text-decoration: none;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;

}

.brand .accessories ul li a:hover#acsr-1 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .accessories ul li a#acsr-2 {
    width: 400px;
    height: 235px;
    position: absolute;
    top: 5px;
    left: 385px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;

}

.brand .accessories ul li a:hover#acsr-2 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .accessories ul li a#acsr-3 {
    width: 196px;
    height: 235px;
    position: absolute;
    top: 5px;
    left: 795px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;

}

.brand .accessories ul li a:hover#acsr-3 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .accessories ul li a#acsr-4 {
    width: 195px;
    height: 235px;
    position: absolute;
    top: 250px;
    left: 385px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;
}

.brand .accessories ul li a:hover#acsr-4 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.brand .accessories ul li a#acsr-5 {
    width: 400px;
    height: 235px;
    position: absolute;
    top: 250px;
    left: 590px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #404040;
}


.brand .accessories ul li a:hover#acsr-5 {
    color: #fff;
    background-color: #4d4d4d;
    border: 2px solid #008ae6;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, .3);
}

.footer {
    margin: -5 auto;
    padding: 0;
    width: 1000px;
    height: 430px;
    position: relative;
    top: 0;
    left: 0;
    background-color: #404040;

}

.footer .f-top {
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    height: 220px;
    position: relative;
    top: 10px;
}

table {
    border-collapse: collapse;
    margin: 5px auto;
    padding: 0;
}

table td {
    width: 240px;
    height: 25px;
    vertical-align: top;

}

table td a {
    text-decoration: none;
}

table td a #header {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #cccccc;
    font-family: Saira Semi Condensed;
    font-size: 20pt;
}

table td a:hover #header {
    color: #008ae6;
}

table td a p {
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    text-align: justify;
    color: #bfbfbf;
    font-family: Saira Semi Condensed;
    font-size: 12pt;
}

table td a #list {
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    text-align: center;
    color: #bfbfbf;
    font-family: Saira Semi Condensed;
    font-size: 12pt;
}

table td a:hover #list {
    color: #008ae6;
}

.footer .f-bottom {
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    height: 170px;
    position: relative;
    top: 0;
    left: 0;
}

.footer .f-bottom .social-media {
    margin: 0;
    padding: 0;
    width: 500px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 0;
}

.footer .f-bottom .social-media #header {
    color: #fff;
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 23pt;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.71);
}

.footer .f-bottom .social-media img {
    transition: .3s;
}

.footer .f-bottom .social-media img:hover {
    border-radius: 50%;
    box-shadow: 0 3px 10px rgb(0, 0, 0, .5);
    -moz-transform: scale(1.2) rotate(360deg);
    -webkit-transform: scale(1.2) rotate(360deg);
    -o-transform: scale(1.2) rotate(360deg);
    -ms-transform: scale(1.2) rotate(360deg);
    transform: scale(1.2) rotate(360deg);
}

.footer .f-bottom .social-media ul {
    margin-top: 10px;
    margin-left: 60px;
    padding: 0;
    list-style: none;
}

.footer .f-bottom .social-media ul li {
    float: left;
    margin: 0 5px;
    padding: 0;
    width: 50px;
    height: 50px;
}

.footer .f-bottom .social-media ul li a {
    text-decoration: none;
}

.footer .f-bottom .social-media-mail {
    margin: 0;
    padding: 0;
    width: 500px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 500px;
}

.footer .f-bottom .social-media-mail #header {
    color: #fff;
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 23pt;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.71);
}

.footer .f-bottom .social-media-mail #box-mail {
    width: 300px;
    height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 15pt;
    background-color: #fff;
    border: 2px solid #008ae6;
    -webkit-border-radius: 15px 0px 0px 15px;
    -moz-border-radius: 15px 0px 0px 15px;
    border-radius: 15px 0px 0px 15px;
    position: absolute;
    top: 45px;
    left: 0;
    outline: none;
    z-index: 2;
}

.footer .f-bottom .social-media-mail #box-sub {
    width: 150px;
    height: 50px;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 20pt;
    background-color: #008ae6;
    border: 2px solid #008ae6;
    -webkit-border-radius: 0px 15px 15px 0px;
    -moz-border-radius: 0px 15px 15px 0px;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    position: absolute;
    top: 45px;
    left: 295px;
    outline: none;
    z-index: 1;
}

.footer .f-bottom .social-media-mail #box-sub:active {
    font-size: 19pt;
}

.footer .copyright {
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    height: 40px;
    position: relative;
    top: 0;
    left: 0;
    background-color: #595959;
}

.footer .copyright p {
    margin-top: 10px;
    color: #fff;
    text-align: center;
    font-family: Roboto Condensed;
}

.footer .copyright p a {
    text-decoration: none;
    color: #fff;
}

.footer .copyright p a:hover {
    color: #008ae6;
}
